@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upper{
  background-image: linear-gradient(to right, blue, violet);
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
 
}

.upper-inner{
  padding-top: 3vh;
  width: 39vw;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  
}

#radio{
  background-color: rgb(80, 79, 79);
  border: none;
  color: grey;
  padding:10px;
}
.plus-icon {
  font-size: 50px;
  font-weight: bolder;
  cursor: pointer;
  margin-left: 10px;
  color: black;
  background-color: rgb(186, 192, 190);
}

.plus-icon:hover {
  color: blue;
}

.function-btns {
  margin: 0 5px;
  font-size: 14px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  clip-path: circle(46% at 50% 50%);
}

input[type="text"]{
  padding: 10px;
  width: 32vw;
  background-color: rgb(80, 79, 79);
  border: none;
  outline: none;
  color: grey;
}

.lower{
  background-color: black;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.lower-inner {
  background-color: rgb(80, 79, 79);
  height: calc(40vh - 40px); 
  width: 39vw;
  border-radius: 5px;
  margin-top: -20px;
  overflow-y: auto; 
}

.line-divider {
  position: absolute;
  width: 100%;
  top: 0;
  border-top: 1px solid #ccc;
}
.lower-inner-last{
display: flex;
font-size: 10px;
justify-content: space-between;
padding: 10px;
}
.todos-list{
  list-style: none;
  padding: 0;
}

.todos-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todos li:last-child {
  border-bottom: none;
}

.todos-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.container {
  padding-top: 10px; 
  padding-bottom: 20px;
  color: grey;
  padding: 10px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: grey;
  border-top: 1px solid #ccc; 
}

.filter-container {
  display: flex;
  gap: 3px;
}

.filter-container a {
  text-decoration: none;
  color: grey;
}

.filter-container a:active {
  color: blue; 
}

.left-items {
  font-size: 18px;
}

.clear-completed-btn {
  font-size: 18px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.taskitem{
  display: flex;
  padding: 10px;
  border-bottom: grey 1px solid;
  color: white;
}

.taskitem > div{
  margin-left: 10px;
}


@media screen and (max-width: 768px) {
  .upper {
    height: 30vh;
  }

  .upper-inner {
    width: 80vw;
  }

  #new-todo-input {
    width: 50vw;
  }

  .lower {
    height: 50vh;
  }

  .lower-inner {
    max-height: 50vh;
  }

  .todos-list {
    font-size: 14px;
  }
}